h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  padding: 0;
}
.link {
  text-decoration: none;
}
.header {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: gray;
  width: 80px;
  justify-content: center;
}
.nav-link {
  display: flex;
  transform: rotate(90deg);
  color: white;
  font-size: 24px;
  font-family: Italian;
  padding: 20px 300px;
  display: inline-block;
  flex-shrink: 0;
}
.nav-link-menu:hover + .submenu,
.submenu:hover {
  display: block;
  height: 100vh;
  transform: translateX(0%);
}
.submenu {
  background-color: gray;
  padding-top: 70px;
  padding-left: 46px;
  display: none;
  position: absolute;
  top: 0;
  transform: translateX(-100%);
  min-width: 300px;
  left: 0;
}
.submenu-link {
  color: white;
  font-size: 18px;
  font-family: Italian;
  display: flex;
  margin-bottom: 10px;
  position: relative;
}
.submenu:last-child {
  margin-bottom: 0;
}
.submenu-link:hover, .submenu-link:focus {
  color: orange;
  transition: 0.3s;
}
.submenu-link::before {
    content: '';
    width: 5px;
    height: 5px;
    background-color: orange;
    border: 1px solid black;
    transform: translate(0, -50%) scaleY(1.5) rotate(45deg);
    display: block;
    position: absolute;
    left: -14px;
    top: 10px;
}