h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  padding: 0;
}
.link {
  text-decoration: none;
}
.nav-list {
  position: absolute;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: gray;
}
.nav-link {
  display: flex;
  transform: rotate(90deg);
  color: white;
  font-size: 24px;
  font-family: Italian;
}
.nav-link-menu:hover + .submenu,
.submenu:hover {
  display: block;
  height: 100vh;
  transform: translateX(0%);
}
.submenu {
  background-color: gray;
  padding-top: 70px;
  padding-left: 30px;
  display: none;
  position: absolute;
  top: 0;
  transform: translateX(-100%);
  min-width: 300px;
}
.submenu-link {
  color: white;
  font-size: 18px;
  font-family: Italian;
}
.submenu-link:hover, .submenu-link:focus {
  color: orange;
  transition: 0.3s;
}
.submenu-link::before {
    content: '';
    width: 6px;
    height: 6px;
    background-color: orange;
    transform: translate(0, -50%) scaleY(1.5) rotate(45deg);
    display: block;
    position: absolute;
    left: 15px;
}